header {
    /* Liquid Glass Effect*/
    /*background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.05) 25%,
            rgba(78, 71, 198, 0.15) 50%,
            rgba(78, 71, 198, 0.25) 75%,
            rgba(78, 71, 198, 0.3) 100%),
        radial-gradient(circle at 30% 40%, rgba(250, 180, 64, 0.2) 0%, transparent 50%),
        radial-gradient(circle at 70% 80%, rgba(78, 71, 198, 0.3) 0%, transparent 50%);*/
    background: rgba(198, 71, 71, 0.281);
    backdrop-filter: blur(20px) saturate(80%);
    -webkit-backdrop-filter: blur(20px) saturate(80%);
    border: 1px solid rgba(255, 255, 255, 0.411);
    box-shadow: 0 8px 32px rgba(198, 71, 71, 0.719),
        inset 0 1px 0 rgba(255, 255, 255, 0.3),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1),
}


/* Liens par défaut - état collapsed */
header .nav-link {
    position: relative;
    transition: all 0.5s ease;
    display: inline-block;

}

header .collapsed {
    transform: translateX(0);
    /* Position normale */
}


header .active-link {
    transform: translateX(10px);
    transition: all 0.5s ease;
}
